<!------------------------------------------------Final------------------------------------------------------------------>
<!------------------------------------------------Header------------------------------------------------------------------>
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="../blocks/headfoot.html :: header" class="container"></div>
<!------------------------------------------------Body------------------------------------------------------------------>
<div class="container text-align-center">Страница пользователя скрыта</div>
<!------------------------------------------------Footer------------------------------------------------------------------>
<div th:insert="../blocks/headfoot.html :: footer"></div>